@page
@model ManageHouse.Pages.House.AddModel
@{
    ViewData["Title"] = "Add New House Page";
}
    <div class="modal-content addpage-bg" style="margin-top: 50px;">
            <div class="modal-header">
                <h3 class="modal-title"><strong>Add New House</strong></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 item_content">
                        <form method="post">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <label asp-for="House.Object" style="font-weight:bold;"></label>
                                                    <input type='text' class='form-control' style="width: 500px;" asp-for="House.Object" />
                                                    <span class="alert-danger" asp-validation-for="House.Object"></span>
                                                </div>
                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <label asp-for="House.ObjectDescription" style="font-weight:bold;"></label>
                                                    <input type='text' class='form-control' style="width: 500px;" asp-for="House.ObjectDescription" />
                                                    <span class="alert-danger" asp-validation-for="House.ObjectDescription"></span>
                                                </div>
                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <label asp-for="House.Longitude" style="font-weight:bold;"></label>
                                                    <input type='text' class='form-control' style="width: 500px;" asp-for="House.Longitude" />
                                                </div>
                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <label asp-for="House.Latitude" style="font-weight:bold;"></label>
                                                    <input type='text' class='form-control' style="width: 500px;" asp-for="House.Latitude" />
                                                </div>

                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <button class="AddPage-btn" type="submit"><i class="glyphicon glyphicon-plus"></i> Add House</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



