@page
@model ManageHouse.Pages.House.EditModel
@{
    ViewData["Title"] = "House Edit Page";
}
<div>
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><strong>House Information</strong></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form method="post" class="house-form">
                        <div class="col-md-12" style="margin-top:15px;">
                            <label asp-for="House.Object" style="font-weight:bold;"></label>
                            <input type='text' class='form-control' asp-for="House.Object" style="width:350px;" />
                            <span class="alert-danger" asp-validation-for="House.Object"></span>
                        </div>

                        <div class="col-md-12" style="margin-top:15px;">
                            <label asp-for="House.ObjectDescription" style="font-weight:bold;"></label>
                            <input type='text' class='form-control' asp-for="House.ObjectDescription" style="width:350px;" />
                            <span class="alert-danger" asp-validation-for="House.ObjectDescription"></span>
                        </div>

                        <div class="col-md-12" style="margin-top:15px;">
                            <label asp-for="House.Longitude" style="font-weight:bold;"></label>
                            <textarea type='text' class='form-control' asp-for="House.Longitude" style="width:350px; height: 200px;"></textarea>
                            <span class="alert-danger" asp-validation-for="House.Longitude"></span>
                        </div>

                        <div class="col-md-12" style="margin-top:15px;">
                            <label asp-for="House.Latitude" style="font-weight:bold;"></label>
                            <textarea type='text' class='form-control' asp-for="House.Latitude" style="width:350px; height: 200px;"></textarea>
                            <span class="alert-danger" asp-validation-for="House.Latitude"></span>
                        </div>

                        <div class="text-center col-md-12 btn-box">
                            <button class="btn btn-primary btn-sx" type="submit">
                                <i class="glyphicon glyphicon-edit"></i> Edit House
                            </button>
                            <a class="btn btn-primary btn-sx" asp-page="/House/HouseList" style="margin-left:20px;"><i class="glyphicon glyphicon-backward"></i>House List</a>
                        </div>
                    </form>
                    <div class="right-box">
                        <div class="stage-box">
                            <table class="table table-inbox table-hover" id="tableSort" style="border:2px solid #51545d;">
                                <tbody>
                                    @foreach (var item in Model.StageList)
                                    {
                                        <tr>
                                            <td onclick="myFunction(this)" class="view-message  dont-show"><h5>@item.StageName</h5></td>
                                            <td>
                                                <form method="post">
                                                    <span class="btn-group pull-right">
                                                        <button type="submit" class="btn-del" asp-page-handler="Manage" asp-route-stagenumber="@item.StageName" asp-route-id="@Model.House.Object">
                                                            <i class="glyphicon glyphicon-remove"></i>Manage Pictures
                                                        </button>
                                                    </span>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="pic-box">
                            @foreach (var item in Model.ImageList)
                            {
                                <img src="@item.URI" class="img-thumbnail" /> <button class="btn btn-primary btn-sx btn-delPic">Delete Image</button>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

