@page
@model PrivacyModel
@{
}

    <div class="bg-home">
        <div class="welcome">
            <label class="welcome-txt">WELCOME</label>
            <button class="btn-houselist" id="btn-houselist">House List</button>
        </div>
    </div>

